<style type="text/css">
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    body { font-family: sans-serif; }

    .masonry {
        max-width: 1200px;
    }

    /* clearfix */
    .masonry:after {
        content: '';
        display: block;
        clear: both;
    }

    .masonry .card {
        border-radius: 3px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
        background: #ffffff;
        width: 300px;
        /*width:  60px;*/
        height: 120px;
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        border: 1px solid #333;
        border-color: hsla(0, 0%, 0%, 0.5);
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 10px 10px 10px 10px;
        line-height: 18px;
    }

    .card.gigante {
        width: 660px;
        height: 400px;
    }

    .card:hover {
        background: #b7b7b7;
        border-color: white;
        cursor: pointer;
    }
    .text{
        color: #888888;
    }

</style>
<div class="insane-grid" style="background-color: #ebebea">
  <div class="large-12 columns" style="margin-top: 20px">
    <div class="off-canvas-wrap">
      <div class="inner-wrap">
        <div class="large-1 columns" style="margin-top:250px; width: 50px">
          <a class="left-off-canvas-toggle"  >></a> 
        </div>
        <!-- Off Canvas Menu -->
        <aside class="left-off-canvas-menu">
            <!-- whatever you want goes here -->
            <ul>
              <li><a href="#">Item 1</a></li>
            ...
            </ul>
        </aside>
        <div class="large-11 columns">
        <!-- main content goes here -->
          <div class="masonry">
            <% i = 0 %>
            <% while i < 15 %>
            <%= render 'shared/card', object: @i = i %>
            <% i = i + 1 %>
            <% end %>
          </div>
        </div>
      <!-- close the off-canvas menu -->
      <a class="exit-off-canvas"></a>

      </div>
    </div>
    

  </div>

</div>

<script type="text/javascript" charset="utf-8">
    docReady( function() {

        var container = document.querySelector('.masonry');
        var msnry = new Masonry( container, {
            columnWidth: 60
        });

        eventie.bind( container, 'click', function( event ) {
            // don't proceed if item was not clicked on
            node = searchCard( event );
            if (node){
              classie.toggle( node, 'gigante' );
            } 
            // trigger layout
            msnry.layout();

        });

        function searchCard(event){
          node = event.target;
          masonry = false;
          while (!masonry){
           if (node.className.search('card') === 0){
              return node;
           } else if (node.className.search('masonry') === 0){
              masonry = true;
           }
           node = node.parentNode;
         }
         if (masonry === true){
          return null;
         }
        }

    });
</script>
