<div class="insane-grid">
  <div class="large-12 columns">
    <div class="large-1 columns" style="margin-top:250px; width: 50px"> 
    </div>
    <div class="large-11 columns">
    <!-- main content goes here -->
      <div class="masonry">
        <% @mails.each do |mail| %>
        <%= render 'shared/card', object: @mail = mail %>
        <% end %>
      </div>
    </div>
  <!-- close the off-canvas menu -->
  <a class="exit-off-canvas"></a>
  </div>

</div>

<script type="text/javascript" charset="utf-8">
    docReady( function() {

        var container = document.querySelector('.masonry');
        var msnry = new Masonry( container, {
            columnWidth: 60
        });

        eventie.bind( container, 'click', function( event ) {
            // don't proceed if item was not clicked on
            node = searchCard( event );
            if (node){
              classie.toggle( node, 'gigante' );
            } 
            // trigger layout
            msnry.layout();

        });

        function searchCard(event){
          node = event.target;
          masonry = false;
          while (!masonry){
           if (node.className.search('card') === 0){
              return node;
           } else if (node.className.search('masonry') === 0){
              masonry = true;
           }
           node = node.parentNode;
         }
         if (masonry === true){
          return null;
         }
        }

    });
</script>
