<div class="card">
  <div class="row" style="margin-bottom: 17px">
    <div style="float:left">
      <strong>Remitente</strong>
    </div>
    <div style="float:right">Hora / Dia</div>
  </div>
  <div class="row" style="margin-bottom: 17px"><strong>Titulo</strong></div>
  <div class="row" style="color: #6b6a6a; margin-bottom: 17px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi architecto aspernatur, cum ea eaque explicabo fugit ipsa ipsum itaque labore mollitia, natus necessitatibus nisi optio quia saepe tempora voluptatum.
  </div>
</div>
