<div class="card" id="card_<%= @i %>">
  <div class="row" data-card="<%= @i %>"><strong>Remitente</strong></div>
  <div class="row" data-card="<%= @i %>"><strong>Titulo</strong></div>
  <div class="row" data-card="<%= @i %>">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi architecto aspernatur, cum ea eaque explicabo fugit ipsa ipsum itaque labore mollitia, natus necessitatibus nisi optio quia saepe tempora voluptatum.</div>
</div>
