/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation
 *= require_tree .
 */
@import "foundation_and_overrides";
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body { font-family: sans-serif; }

.masonry {
    max-width: 1200px;
}

/* clearfix */
.masonry:after {
    content: '';
    display: block;
    clear: both;
}

.masonry .card {
    color: #cccccc;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    background: #ffffff;
    width: 300px;
    /*width:  60px;*/
    height: 150px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-color: hsla(0, 0%, 0%, 0.5);
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 10px 10px 10px 10px;
    line-height: 18px;
}

.card.gigante {
    width: 660px;
    height: 400px;
}

.card:hover {
    background: #b7b7b7;
    border-color: white;
    cursor: pointer;
}
.text{
    color: #888888;
}
.insane-grid{
  background-color: #ebebea
}